:root
{
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --accent-text-color: rgb(0, 0, 255);
}

.dark-mode
{
  --bg-color: rgb(30, 30, 30);
  --text-color: rgb(255, 255, 255);
  --accent-text-color: rgb(255, 215, 80);
}



@font-face {
    font-family: "Lexend";
    src: url("Lexend-Font/Lexend-VariableFont_wght.ttf");
}

*
{
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}

body 
{
  background-color: var(--bg-color);
  color: var(--text-color);

  line-height: 1.5;
  padding: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

h1 
{
  font-size: 36px;
  font-weight: 800;
}

h2 
{
  font-size: 16px;
  font-weight: 600;
}

code 
{
  font-family: Consolas, monospace;
  margin: 1rem;
}

.indented-line 
{
    display: inline-block;
    margin-left: 3rem;
}